body {
  margin: 25px;
  background-color: rgb(14,14,14);
  font-family: arial, sans-serif;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color:orange;
}
.wholePage {
  margin:5%;
  background-color: black;
}
p {
  color:white;
}
