body {
  margin: 25px;
  background-color: rgb(130,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color:orange;
}
.wholePage {
  margin:5%;
  background-color: green;
  justify-content: center;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}