body {
  background-color: rgb(14,14,14);
  font-family: arial, sans-serif;
  max-width:688px;
}
html {
  display: flex;
  justify-content:center;
}
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color:orange;
}
.wholePage {
  margin:5%;
  background-color: #000000;
}
p, h1{
  color:white;
  margin: 1em 0; 
  text-align: center;
}
